body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table_body {
  max-width: 70vw;
  margin-left: 15%;
  margin-top: 2.6%;
}


.input_body {
  width: 16.6766vw;
  height: 42px;
  margin-left: 15%;
  margin-top: 5%;
}

.ui.sortable.celled.table {
  border-radius: 8px;
}

.item_prop {
  color: black;
}


.item_prop:hover {
  color: black;
}


.table_sortableBtn {
  background: none;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.name {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.date {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  color: #6B7280;
}


tr:hover {
  background: #F6F6F6;
  transition: 0.6s;
}

thead tr {
  cursor: pointer;
}

.action {
  color: #5D5FEF;
}

.disable {
  color: #EF5DA8;
}

.chart_wrapper {
  width: 100vw;
  height: 100vh;
}


.chart_container {
  width: 85%;
  height: 70%;
  border: 2px solid #E5E5E5;
  position: relative;
  top: 15%;
  left: 8.6%;
}

.chart_container div {
  margin-top: 1.5%;
}

.chart_header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 132%;
  margin-left: 2%;
  padding-top: 4%;
}

.chart_button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8750em;
  line-height: 20px;
}

.buttons {
  position: relative;
  left: 59.2vw;
  top: 0%;
}

.chart_stats {
  position: relative;
  left: 3%;
  top: -5%;
}

.chart_stats h3, h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1250em;
  line-height: 100%;
  display: inline-block;
  margin-top: 5px;
}

.chart_stats h1 {
  font-size: 1.5000em;
  position: relative;
  top: -15px;
}




.chart_stats span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #9C9C9C;
  margin-right: 30px;
}

.chart_stats h3 {
  margin-right: 1.6%;
}


.chart_stats_max_value {
  margin-left: 0.6%;
}

.chart_stats_min_value {

}

.chart_stats h1 {
  margin-bottom: 10px;
  margin-top: 0%;
}


